/**
 * RETICULAS CSSFRAMEWORK - fluid.less
 *
 * @description     Make your own fluid grid - TESTING!!
 *
 * @version         1.0
 *
 * @License 		MIT License
 *
 * @link            http://reticulas.com
 * @info            http://vidagrafica.com - http://sond3.com
 *
 * =======================================================================
 *
 * Copyright (c) 2012, Segundo Fdez (@vidagrafica) - hello@reticulas.com
 * http://reticulas.com | http://vidagrafica.com | http://sond3.com

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
*/

* {
	/* Older Webkit */
	/* Older FF */
	/* IE8 */
	/* CSS3 */
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	/*
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
	*/
}

/* Grid Config
----------------------------------------------------------------------------- */

// #page
@total-width: 100%;

// TEST GRID
@column-width: 65;
@gutter-width: 21;
@columns: 12;

// base grid wrapper width as a number
//@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns);
@gridsystem-width:(@column-width*@columns) + (@gutter-width*@columns);

// gutter width as a number
//@variation: parseInt(@total-width*((@gutter-width*.5)/@gridsystem-width));
@variation: @total-width*((@gutter-width*.5)/@gridsystem-width);

// gutter width round without decimals
//@variationround: parseInt(round(@total-width*((@gutter-width*.5)/@gridsystem-width)));
@variationround: round(@total-width*((@gutter-width*.5)/@gridsystem-width));

// wrapper width (px)
@wrapper: (@column-width*@columns) + (@gutter-width*@columns)*1px;

// %
@fluid-column-width: (@total-width/@columns) - @variation*2;
@fluid-gutter-width:  @total-width*((@gutter-width*.5)/@gridsystem-width);
@fluid-module-width: @fluid-column-width + @variation*2;


.wrapper{ 
	display: block;
	clear:both;
	width:100%;
	//overflow:hidden;
	
	max-width:@wrapper;

	margin-right: auto;
	margin-left: auto;
	.clearfix;	
}

/* GRID
---------------------------------------------------------*/
/*
.row(@columns: @columns) {
	display: block;
	float:left;
	width: @fluid-module-width*@columns;
	//margin: 0 -@fluid-gutter-width*(@variationround*1%);
	margin:0 -@variationround;
	//.clearfix;
}
*/
.row(@r) {
	display: block;
	float:left;
	width: (@fluid-module-width*@r);
	//margin: 0 -@fluid-gutter-width*(@variationround*1%);
	margin:0;
	//.clearfix;
}


.column(@n, @columns: @columns) {
	display: inline;
	float: left;
	width:  (@fluid-module-width*@n) - (@variationround*2);
	margin-left: @variationround*1%;
	margin-right: @variationround*1%;
}

.inner { 
	padding-left:@total-width*((@gutter-width*.5)/@gridsystem-width);
	padding-right:@total-width*((@gutter-width*.5)/@gridsystem-width);
}

//Solve  padding problem on diferents indents
.innerwrapper {
	padding-left:@total-width*(((@gutter-width*.5)/@gridsystem-width)/@variation);
	padding-right:@total-width*(((@gutter-width*.5)/@gridsystem-width)/@variation);
}


.push(@offset:1) {
	margin-left: (@total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width)) + @variation;
}

.pull(@offset:1) {
	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @variation;
}
