/**
 * RETICULAS CSSFRAMEWORK - extended/reticulas.css
 *
 * @description     Modifies or extends the basic content
 *                  with classes or IDs - NORPREVENCION.COM
 *
 * @info            http://reticulas.com - http://www.sond3.com
*/

/* VARIABLES
----------------------------------------------------------- */
@color:#222;
@color-alt:#3e5193;
@color-alt-op:#95c05c;

@color-alt-light:#e8f3f9;
@color-alt-soft:#73aad3;

@linkcolor:#70aad2;
@linkcolor-alt:#CC9900;

@path = '/css/extended/';

/* REDEFINE - Identifier defined within the folder reticulas
----------------------------------------------------------- */

/* Fix baseline problem with strong and em - include in base  */
strong, em { line-height:1em;} 

a { color:@linkcolor;}


/* COMMON
----------------------------------------------------------- */


@font-face {
  font-family: 'Siconfont';
  src: url(@path + 'fonts/Siconfont.eot');
  src: url(@path + 'fonts/Siconfont.eot?#iefix') format('embedded-opentype'),
       url(@path + 'fonts/Siconfont.woff') format('woff'),
       url(@path + 'fonts/Siconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body{
	//background-color:@color-alt;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Archivo Narrow', sans-serif;
	font-weight:bold;
}

#page { 
	width:@total-width;
	min-width:1000px;
	color:@color;
	
	.clearfix;
}	

#header ul,
#footer ul{
	margin:0;
	padding:0;
	li{
		list-style-type:none;
		a:hover, 
		a:focus{
			text-decoration:none;
		}
	}
}

.padding-rl{
	padding:0 10px;
}


.doble{
	.row(6);
}

.help{
	background-color:#EEE;
	display:inline-block;
	padding:10px 15px;
	font-size:12px;
	color:#666;
}


/* GENERIC FORMS
----------------------------------------------------------- */
ul.msm {
  	margin:0;
  	padding:0;
	h4{
		margin-bottom:28px;
	}
  	li{
  		list-style-type:none;
  		padding-top:0;
  	}
}


#form{
  	padding:0px;
  	
	fieldset {
 		margin-bottom:22px;
 		padding:10px;
  		border:1px solid #cccccc;
 	
 		div{
  			padding:10px !important;
  			background-color:@color-alt-light;
  		}
	}
	legend {
  		padding:0 5px;
  		color:@color-alt;
	}
	label {
  		display:block;
  		cursor:text;
  		color:@color-alt;
	}
	
	.choose{
		color:#333;	
		.clearfix;
		clear:both;
		float:none;
		p{
			.floatl;
			margin-right:20px;
			margin-top:10px;
		}
		input{
			//display:inline;
			width:auto;
			margin-right:5px;
			padding:0;
		}
	}
	
	input,
	textarea,
	select{
		border:1px solid #999;
		padding:5px 6px;
		color:#999;
		width:100%;
	}
	select{
		-webkit-appearance: none;
		background:url(@path + 'img/select.jpg') no-repeat right;
		background-color:#FFF;
	}
	textarea{width:100%;}
	
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
	  padding:5px 10px;
	  font-size:.75em;
	  background-color:#666666;
	  .round(6);
	  border:1px solid @color-alt;
	  .gradient(@color-alt-soft, @color-alt);
	  color:#ffffff;
	  display:inline-block;
	  width:auto;
	}
	
	input[type="button"]:hover, 
	input[type="reset"]:hover,
	input[type="submit"]:hover {
		border:1px solid @color;
		.gradient(@color-alt, @color-alt);
	}
}




/* IMAGES
----------------------------------------------------------- */
.logo{
	background-image:url(@path + 'img/logo-header.png');
	width:100px;
	height:100px;
}



/* EXTENDED
----------------------------------------------------------- */

/* ------  IE 8 FALLBACK ????  DELETE???? ------ */
h1, 
.description{
	.floatl;
	font-family: 'Archivo Narrow', sans-serif;
	//background-color:#333;
	//height:100px;
	color:@color-alt;
	margin-left:15px;
	font-weight:bold;
	font-size:1.125em;
	line-height:1em;
	margin-top:35px;
	}
/* ------  /IE 8 FALLBACK ????   DELETE???? ------ */	
	
#header{
	background-color:@color-alt-light;
	//.gradient(@color-alt-soft,@color-alt-light);
	header,
	.options{
		.wrapper;
		.padding-rl;
	}
	
	header{
		h1 {
			.floatl;
			a{
				//.imageback;
				//.logo;
			}
		}
		p.description{
			.floatl;
			font-family: 'Archivo Narrow', sans-serif;
			//background-color:#333;
			//height:100px;
			color:@color-alt;
			margin-left:15px;
			font-weight:bold;
			font-size:1.125em;
			line-height:1em;
			margin-top:35px;
		}
		position:relative;
		padding-bottom:20px;
	}
	
	.options {
		.lang,
		.access{
			position:absolute;
			top:-1px;
			right:10px;
			li{
				display:inline;
				font-size:.75em;
				a{
					background-color:@color-alt-soft;
					color:@color-alt-light;
					padding:5px 10px;
					.round-corners( 0,0,8,8);
					&:hover, &:focus{
						color:#000;
						//.shadow( 0,0,8,5,#FFF);
					}
				}
			}
		}
		.access{
			right:115px;
		}
		.lang{
			//right:320px;
			li{
				a{
					background-color:@color-alt-op;
					color:#FFF;
					&:hover{
						background-color:@color-alt;
						color:@color-alt-light;;
					}
				}
			}
		}
	}
	
	
	#navsite {
		background-color:#FFF;
		//border-bottom:1px solid @color-alt-soft;
		font-family: 'Archivo Narrow', sans-serif;
		margin-bottom: 0px;
		//border-top:1px solid @color-alt;
		position:relative;
		margin:0px 0px 40px;
		z-index:10;
		h2 { 
			.hide;
		}
		
		.menu-site{
			position:relative;
			.wrapper;
			padding:16px 10px 5px;
			li{
				display:inline;
				font-weight:bold;
				margin-right:10px;
				
				a{
					border-top:9px solid @color-alt;
					padding:10px 0;
					color:@color-alt;
					
					&.active{
						border-top:9px solid @color-alt-soft;
						color:@color-alt-soft;
					}
					
					&:hover{
						border-top:9px solid @color;
						color:@color;
					}
				}
				&.work {
					.floatr;
					margin-top:-11px;
					margin-right:180px;
					a{
						border-top:none;
						font-weight:normal;
						font-size:.75em;
						padding:10px;
						color:#FFF;
						.round-corners(0,0,6,6);
						.gradient(@color-alt, @color-alt-soft);
						&:hover{
							.gradient(@color-alt, @color-alt);
						}
					}
				}
				&.budget {
					//.imageback;
					background-image:url(@path + 'img/budget.png');
					//background-color:#cc0000;
					width:150px;
					height:150px;
					
					position:absolute;
					top:-72px;
					//top:5px;
					right:-10px;
					
					-webkit-transform:rotate(20deg);
					-moz-transform:rotate(20deg);
					-ms-transform:rotate(20deg);
					-o-transform:rotate(20deg);
					transform:rotate(20deg);
					span{
						display:block;
						position:relative;
						top:44px;
						text-align:center;
						font-size:.875em;
						&:first-child{
							font-size:1.4em;
						}
					}
										
					a{
						display:block;
						border:none !important;
						width:150px;
						height:150px;
					}
					
					// JUST AN ELEGANT ICO
					/*
					a{
						border:none !important;
						.round-corners(0,0,6,6);
						color:#cc0000;
						&:hover{
							//.gradient(@color-alt, @color-alt);
							color:@color;
						}
						&:before{
							font-family:'Siconfont';
							content:('\006D');
							font-size:2em;	
							font-weight:normal;
							position:relative;
							top:5px;
						}
					}
					*/
				}
				
				// SUBMENU 
				.submenu{
						position:absolute;
						top:45px;
					li{
						font-family:sans-serif;
						font-weight:400;
						font-size:.75em;
						a{
							border-bottom:1px solid  #CCC;
							border-top:none;
							padding-bottom:5px;
							.mediumgrey();
							
							&.active{
								border-bottom:1px solid #000;
								color:#000;
							}
							
							&:hover{
								color:@color;
								border-bottom:1px solid @color;
							}
						}
					}
				}
			}
		}
	}
}


// PROMO HOME

#promo{
	.clearfix;
	background-color:@color-alt;
	margin:10px 0;
	font-family: 'Archivo Narrow', sans-serif;
	.shadow( 0,0,5,3,#999);
	
	//border:10px solid #000;
	//position:relative;
	//border:12px solid #000;
	//min-height:330px;
	.slides_container {
    	color:@color-alt-light;
    	a{
    		color:@color-alt-soft;
    	}
        div.container {
            .wrapper;
            .clearfix;
            display:block;
            padding:10px 50px;
            margin:0;
            
            img{
        		width:250px;
        		height: 250px;
        		.floatl;
        		margin-right:20px;
        		//.column(4);
        		//height:290px;
        		//padding:20px 20px 20px 0;
        	}
        	div.inside{
        		.column(8);
            	h2{
            		font-size:2.2em;
            		line-height:1.15em;
            		margin-bottom:0;
            		color:@color-alt-op;
            	}
            	h3 {
            		font-size:1.5em;
            		font-weight: normal;
            	}
            	p {
            		font-size: 1.150em;
            		a{
            			&:before{
            				font-family:'Siconfont';
            				content:('\0042');
            				//content:('\002B');
            				margin-right: 5px;
            			}
            			&:hover{
            				text-decoration: none;
            				color:@color-alt-light;
            			}
            		}
            	}
        	}
        }
    }
    /* ---  Next/prev buttons --- */
	#slides{
		.wrapper;
		.next,.prev {
			//background-color:@linkcolor;
			//color:@color-alt-light;
			
			background-image:url(@path + 'img/arrows.png');
			position:relative;
			margin-top:-150px;
			padding:5px;
			z-index:101;
			height:40px;
			width:40px;
			text-indent:-9999em;
			font-size:0px !important;
			&:hover{
				text-decoration:none;
			}
		}
		.next {
			.floatr;
			text-align:right;
			background-position:39px 0;
			//left:30px;
			/*
			&:after{
            	font-family:'Siconfont';
            	content:(' F');
            	margin-right: 5px;
            }*/
            
		}
		.prev{
			.floatl;
			//right:30px;s
			/*
			&:before{
            	font-family:'Siconfont';
            	content:('H');
            	margin-right: 5px;
            }
            */
		}
	}
	/* --- Pagination --- */
	.pagination {
		.hide;
	}
}


/* ----------------------- CONTENT ------------------------------- */
#content{
    background-color:#FFF;
    padding:0px 0px 0px 0;
    .clearfix;
    
    /* ----------------------- GENERIC SECTION ------------------------------- */
    section{
        margin:0 0 25px 0;
        //border-bottom:1px dotted @color-alt;
        header{
            
            h2{
            background-color:@color-alt-soft;
            .gradient(@color-alt, @color-alt-soft);
                color:@color-alt-light;
                top:0;
                padding:8px 10px 10px 20px;
                font-size:1.75em;
                margin-bottom:25px;
                &:before,
                &:after {
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 0px solid transparent;           /* Go big on the size, and let overflow hide */
                    border-bottom: 15px solid transparent;
                    border-left: 30px solid @color-alt;
                    position: absolute;
                    top: 46px;
                    margin-top: 0px; 
                    right:0;
                    z-index: 2; 
				}
				&:before{
							left:0;
							border-top: 0px solid transparent;
							border-bottom: 15px solid transparent;
							border-right: 30px solid @color-alt;
							border-left: 0px solid transparent;
				}
        }
	}
        ul{
            li{
                margin-bottom:10px;
            }
        }
    }


    /* ----------------------------- DETAIL DETAILPROMO - HOME--------------------------------- */
    .detail,
    .detailpromo{
        font-size: .75em;
        line-height: 1.35em;
        padding:33px 0;
        margin:0;
        background-color:@color-alt-light;
        color:@color-alt;
        border:none;
        .clearfix;
        .main{
            .wrapper;
            div{
                .column(4);
                padding:0;
                
                text-align:justify;
                
                img{
                    margin-bottom: 15px;
                    width:100%;
                    border:3px solid @color-alt; 
                    padding:5px;
                    background-color:#FFF;
                }
                ul{
                	margin:0;
                }
                li{
            		list-style-type:none;
            		padding:0;
            		&:before{
            			font-family: 'Siconfont';
						content: "\0042";
						margin-right:4px;
						font-size:14px;
						position:relative;
						top:2px;
						//color:@color;
            		}
            	}
                h3{
                    color:@color-alt;
                    margin-bottom:10px;
                    font-size:1.750em;
                    top:0;
                    &:after{
                        font-family: 'Siconfont';
                        content:(' G');
                        position: relative;
                        font-size: 1em;
                        top:1px;
                    }
                }
            }
        }        
    }
    
    .detailpromo{
    	h3{
			&:before{
				font-family: 'Siconfont';
				content:('\0033');
				position: relative;
				font-size: 3em;
				//top:-1px;
				display:block;
				font-weight:normal;
				margin-bottom:15px;
				color:@color-alt-op;
			}
			&:after{
				content:('') !important;
			}
    	}
    }


    /* ----------------------------- ABOUT - HOME --------------------------------- */

    #about{
        .wrapper;
        margin-top:44px;
        border:none;
        text-align:justify;
        > img{	
            width:100%; 
            border:10px solid @color-alt; 
            padding:10px; 
            display:block; 
            margin:0 auto 0px auto; 
        }
        
        header{
            padding:0 20px;
        	 h2{
        	background:transparent;
        		border-bottom:2px solid @color-alt;
                color:@color-alt;
                padding:0 0 15px 0;
                margin:0px;
                
                &:before,
                &:after {
                    border:none;
				}
        	}
        }
        
        div{
        line-height:1.3em;
            .column(6);
            padding:0 10px;
            color:@color-alt;
            margin-top: 20px;
            p.tabula{
            	text-indent:40px;
            }
            ul{
            margin:0;
            	 li{
            		list-style-type:none;
            		margin-bottom:20px;
            		padding:0;
            		&:before{
            			font-family: 'Siconfont';
						content: "\0042";
						margin-right:5px;
						font-size:20px;
						position:relative;
						top:2px;
						//color:@color;
            		}
            	}
            }
            
        }
    }

    
    /* ----------------------------- SOLICITUD PRESUPUESTO ----------------------- */
    //.estimation{}


    /* ----------------------------- SERVICIOS ----------------------- */
    #services{
    	section{
    		 	//background-color:@color-alt-light;
    		header{
    			padding-bottom:1px;
    			background-color:#FFF;
    			h2{
    				.wrapper;
    			}
    		}
    		 /* ----------------------------- SERVICIOS INTRO ...  ----------------------- */
    		 
    		 .services-intro{
    		 	
    		 		border-bottom:12px solid #CCC;
    		 		border-right:1px solid #ccc;
    		 }
    		 
    		 .services-intro,
    		 .services-prevention,
    		 .services-assist,
    		 .services-consult,
    		 .services-salud,
    		 .services-forma
    		 {
    		 	.wrapper;
    		 	color:@color-alt;
    		 	.clearfix;
    		 		border-top:12px solid #CCC;
    		 	
    		 	.down-detail{
    		 		.clear();
    		 		border-top:12px solid #CCC;
    		 		margin-top:40px;
    		 		font-weight:bold;
    		 		font-size:14px;
    		 		a{
    		 			margin-top:40px;
    		 			display:inline-block;
    		 			background-color:@color-alt-op;
    		 			color:#FFF;
    		 			padding:15px 10px;
    		 			.round(12);
    		 			.floatr;
    		 			text-align:center;
    		 		
						&:before{
							font-family: 'Siconfont';
							content: "\003E";
							margin-right:5px;
							font-size:1.75em;
    		 			font-weight:normal;
							position:relative;
							//color:@color-alt-op;
							top:5px;
							display:inline-block;
    		 			}
    		 			&:hover{
    		 			background-color:@color-alt;
    		 				text-decoration:none;
    		 			}
    		 		}
    		 	}
    		 	div{
    		 		.row(4);
    		 		padding:15px 30px 0;
    		 		border-right:1px solid #ccc;
    		 		
    		 		//min-height:550px;
    		 		&:first-child{
    		 			border-left:1px solid #ccc;
    		 			padding-left:20px !important;
    		 		}
    		 		&:last-child{
    		 		border-right:none;
    		 		}
    		 		&:first-child{
    		 			padding-left:0;
    		 		}
    		 		&:before{
    		 			font-family: 'Siconfont';
						content: "\002F";
						font-size:4em;
						position:relative;
						color:@color-alt-op;
						top:25px;
						margin-bottom:20px;
						display:inline-block;
    		 		}
    		 		
    		 		/*
    		 		&:after{
    		 			//text-align:right;
    		 			display:block;
    		 			font-family: 'Siconfont';
						content: "\004A";
    		 		}
    		 		*/
    		 		
    		 		h3{
    		 			font-size:1.350em;
    		 			line-height:1.2em;
    		 		}
    		 		ul,ol, p{
    		 			font-size:.875em;
    		 			line-height:1.2em;
    		 			li{
    		 				margin-bottom:8px;
    		 			}
    		 		}
    		 	}
    		 }
    		 
    		 /* ----------------------------- SERVICIOS FORMACION ----------------------- */
    		 .services-forma{
    		 	.wrapper;
    		 }
    		 /* ----------------------------- SERVICIOS VIGILANCIA SALUD ----------------------- */
    		 .services-salud{
    		 	.wrapper;
    		 } 
    		 /* ----------------------------- SERVICIOS CONSULTORIA ----------------------- */
    		 .services-consult{
    		 	.wrapper;
    		 }
    		 
    		 /* ----------------------------- SERVICIOS ASISTENCIA TÉCNICA ----------------------- */
    		 .services-assist{
    		 	.wrapper;
    		 }
    		 /* ----------------------------- SERVICIOS ASISTENCIA TÉCNICA ----------------------- */
    		 .services-prevention{
    		 	.wrapper;
    		 }
    		 
    	}
    }


    /* ----------------------------- RED DE CENTROS ----------------------- */
    #network{
        .wrapper;
        img{
        	//.row(8);
       		// width:536px;
       		.floatl;
        }
        section{
        	.clearfix;
        }
        .situation{
        	.column(4);
        	padding-left:20px;
        	margin-top:-60px;
        	.moreinfo{
        		font-size:12px;
        		line-height:16px;
        		.darkgrey();
        		background-color:@color-alt-light;
        		padding:15px;
        		margin:0;
        	}
        	
        	.address{
        		color:#888;
        		margin-bottom:10px;
        	}
        	
        	h3{
        		top:12px;
        		margin-bottom:17px;
        		font-size:1.5em;
        		color:@color-alt;
        		border-bottom:1px dotted @color-alt;
        		padding-bottom:5px;
        	}
        	ul{
        		margin:0;
        		auto:0;
				li{
					list-style-type:none;
					font-size:.875em;
					span{
						display:inline-block;
					}
				}
				
        	}
        	.important{
        		background-color:#fffbbf;
        		padding:15px;
        		margin-bottom:10px;
        		a{
        			color:#bf9d00;
        		}
        	}
        }
        
        .medical-situation{
        	//.column(4);
        	float:none;
        	clear:both;
        }
    }
    
    
    /* ----------------------------- NOVEDADES ACTUALIDAD----------------------- */
    #news .news-main{
        .wrapper;
    	section{
    		.column(8);
    	}
      	.secondary{
    		.column(4);
   		}
   		.simple{
   			.row(12);
   		}
   		article{
   			border-bottom:1px solid @color;
   			margin-bottom:20px;
   			h3{
   				color:@color-alt;
   				font-size:1.5em;
   				top:10px;
   				margin-bottom:20px;
   			}
   			.data{
   				.mediumgrey;
   				font-size:.75em;
   			}
   			footer{
   				p {
   					font-size:.875em;
   						color:@color-alt-soft;
   						span{
   						font-weight:bold;
   						color:@color-alt;
   					}
   				}
   			}
   		}
    }
    
    
    
    /* ----------------------------- CONTACT ACTUALIDAD----------------------- */
    #contact >div,
    #workus>div,
    .estimation>div {
        .wrapper;
        section{
        	.column(8);
        }
        aside{
        	.column(4);
        	padding-top:75px;
        	font-size:.875em;
        	color:#888;
        	line-height:1.3em;
        	h3{
        		top:0;
        		margin-bottom:10px;
        		font-size:1.50em;
        		color:@color-alt;
        	}
        	&:before{
    		 	font-family: 'Siconfont';
				content: "\00D7";
				font-size:4em;
				position:relative;
				//color:@color-alt-op;
        		color:@color-alt;
				top:25px;
				margin-bottom:40px;
				display:inline-block;
    		}
    	}
    }
	
	.estimation{
		.add{
			background-color:@color-alt-soft;
			padding:10px !important;
			
			//input[type="button"],
			input[type="reset"],
			input[type="submit"]{
				background-color:#FFF;
			}
		}
			
		#centers{
			background-color:@color-alt-soft;
			padding:5px !important;
			
			[id^="center_"], 
			[id*="center_"] {
				border-top:5px solid @color-alt-soft;
				padding:10px !important;
				.clearfix;
				
				&:first-child{
					border:none;
				}
				
				.del{
					//background-color:#CC0000 !important;
					.floatr;
					input{
						.gradient(#cc0000, #9f0000);
						border:none;
						&:hover{
							.gradient(@color, @color);
						}	
					}
				}
			}
		}
	}
	
	/* ----------------------------- TRABAJA CON NOSOTROS ^^^  ----------------------- */
    #workus section{
        .wrapper;
    }	
    
    /* ----------------------------- LEGAL----------------------- */
    #legal{
        .wrapper;
        ol li{margin-bottom:20px;}
        ol, p{
        	color:@color-alt;
        	padding:0 40px;
        }
    }
}
/* ----------------------- / CONTENT ----------------------------- */




/* ----------------------- FOOTER ----------------------------- */
#footer{
	background-color:@color-alt;
	border-top:15px solid @linkcolor;
	padding:20px 0;
	a:hover{
		color:@color-alt-light;
	}
	.main, 
	.colofon{
		text-align:center;
		margin-top:0;
		.clearfix;
		.wrapper;
		div{
			.column(3);
			//background-color:#FFF;
			display:inline-block;
			text-align:left;
			h4{
				font-size:.875em;
				color:@color-alt-light;
				border-bottom:1px solid @color-alt-light;
				padding-bottom:10px;
				margin-bottom:30px;
			}
			ul{
				font-size:.75em;
				li{
					line-height:1.5em;
					a{
						margin-bottom:0px;
					}
				}
			}
			img{
				width:31%;
				height:auto;
				margin:0;
				border:0;
			}
		}
	}
	.colofon{
		border-top:2px solid @linkcolor;
		margin-top:40px;
		color:@linkcolor;
		padding-top:5px;
		font-size:.75em;
		a{
			color:@color-alt-light;
		}
	}
}





















/* MEDIA QUERIES
----------------------------------------------------------- */
/*

@media only screen and (max-width: 1680px), 
only screen and (max-device-width: 1680px){

}

@media only screen and (max-width: 1280px), 
only screen and (max-device-width: 1280px){

}

@media only screen and (max-width: 1024px), 
only screen and (max-device-width: 1024px){


}

@media only screen and (max-width: 640px), 
only screen and (max-device-width: 640px){

}

*/




