/**
 * RETICULAS CSSFRAMEWORK - base.css
 *
 * @description     Basics adjustments:
 *                  text, list, table.
 *                  Default value browser 16px (100 * 16px = 16px)
 *
 * @version         1.0
 *
 * @License 		MIT License
 *
 * @link            http://reticulas.com
 * @info            http://vidagrafica.com - http://sond3.com
 *
 * =======================================================================
 *
 * Copyright (c) 2012, Segundo Fdez (@vidagrafica) - hello@reticulas.com
 * http://reticulas.com | http://vidagrafica.com | http://sond3.com

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
*/

/* 2. BASE */

/* 2.1 Root element 
----------------------------------------------------------------------------- */
 /*fix movement on document scroll*/
html { overflow-y: scroll;}

body { 
	font-size: 100%; /*16px*/
	color: #000;
	font-family: sans-serif;
	/* baseline 22px */
	line-height: 1.375em;

	/* Improved handling of kerning pairs and ligatures in modern */
	text-rendering: optimizeLegibility;
	}

/* 2.2 Essential module - Hipertext
----------------------------------------------------------------------------- */
a				{ color: #09C; text-decoration: none;}
a:hover,
a:focus			{ color: #000; text-decoration: underline;}
a:hover, 
a:active		{ outline: 0; }

/* 2.3 Essential module - List
----------------------------------------------------------------------------- */
dl				{ margin: 0 0 1.375em 0;}
dl dt			{ font-weight: bold;}
dd				{ margin-left: 1.5em;}

ul, ol			{ margin: 0 1.5em 1.375em 1.5em;}
ul				{ list-style-type: disc;}
ol				{ list-style-type: decimal;}
li ul, li ol	{ margin: 0 1.5em;}

/* 2.4 Essential module - Text
----------------------------------------------------------------------------- */
abbr,
acronym			{ border-bottom: 1px dotted #666;}
address			{ margin: 0 0 1.375em 0; font-style: italic;}

blockquote		{ font-style:italic; margin:1.375em; color:#666;}

/* tt - deleted in reset.css. Not Supported in HTML 5. */
/* cite */
pre {
	margin: 1.375em 0; 
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word;
	}
pre, code,
tt, var			{ font: 1em/1.375em 'andale mono', 'lucida console', monospace;}
code, tt, var	{ line-height: 1em;}

/*
pre, code, 
kbd, samp {
	font-family: monospace, monospace; 
	_font-family: 'courier new', monospace; 
	font-size: 1em; 
	}
*/
/* kdb */
/* q */
/* samp */
/* span */

dfn, em			{ font-style: italic;}
dfn				{ font-weight: bold;}

h1,h2,h3,
h4,h5,h6		{ font-weight: normal; position: relative;}

h1	{ font-size: 3.875em; /*62px*/ top: 10px; line-height: 1.0644em; margin-bottom: 44px;}
h2	{ font-size: 2.750em; /*44px*/ top: 26px; line-height: .9999em;  margin-bottom: 44px;}
h3	{ font-size: 2.250em; /*36px*/ top: 28px; line-height: 1.222em;  margin-bottom: 44px;}
h4	{ font-size: 1.375em; /*22px*/ top: 21px; line-height: .9997em;  margin-bottom: 44px;}
h5	{ font-size: 1.250em; /*16px*/ top: 21px; line-height: 1.100em;  margin-bottom: 44px;}
h6	{ font-size:  .750em; /*12px*/ top: 24px; line-height: 1.8328em; margin-bottom: 44px;}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child	{ margin-top: 0;}

h1 img, h2 img,
h3 img, h4 img,
h5 img, h6 img	{ margin:0;}

p				{ margin:0 0 1.375em 0;} /*include word-wrap: break-word;???*/
p img.left		{ margin:0.32em 1.5em 1.2em 0; padding:0; float:left;}
p img.right		{ margin:0.32em 0 1.2em 1.5em; float:right;}

b, strong		{ font-weight:bold;}

small			{ font-size: 0.813em; /*13px*/}


/* 2.5 Extension modules text - Presentation
----------------------------------------------------------------------------- */
sup, sub		{ font-size: 75%; line-height:0; position: relative; vertical-align: baseline;}

sup				{ top: -0.5em;}
sub				{ bottom: -0.25em;}

hr { 
	display: block; 
	height: 1px; 
	border: 0; 
	border-top: 1px solid #ccc; 
	margin: 1.375em 0; 
	padding: 0; 
	}

/* 2.6 Extension modules text - Edition
----------------------------------------------------------------------------- */
del				{ color:#666;}
ins				{ background-color:#F5E498;}

/* 2.7 Table Module
----------------------------------------------------------------------------- */
table			{ margin-bottom:1.375em; margin-top:1em; width:100%;}
caption			{ background: #333; color:#FFF; font-weight:bold;}
th				{ font-weight:bold;}
thead th		{ background:#CCC;}
th,td,caption	{ padding:3px 5px; border:1px solid #444;}
tfoot			{ font-style: italic;}