/**
 * RETICULAS CSSFRAMEWORK - form.css
 *
 * @description     Basic aspect forms
 *                  Thanks to html5-boilerplate - https://github.com/h5bp/
 *
 * @version         1.0
 *
 * @License 		MIT License
 *
 * @link            http://reticulas.com
 * @info            http://vidagrafica.com - http://sond3.com
 *
 * =======================================================================
 *
 * Copyright (c) 2012, Segundo Fdez (@vidagrafica) - hello@reticulas.com
 * http://reticulas.com | http://vidagrafica.com | http://sond3.com

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
*/

/* Form - fieldset - legend
-------------------------------------------------------------- */

legend { 
	font-weight: bold; 
	*margin-left: -7px; 
	white-space: normal;
}

label { cursor: pointer; }


/* button - input - select - textarea
-------------------------------------------------------------- */
/*
* 1. Correct font-size not inheriting in all browsers
* 2. Remove margins in FF3/4 S5 Chrome
* 3. Define consistent vertical alignment display in all browsers
*/
button, 
input, 
select, 
textarea { 
	font-size: 100%; 
	margin:0; 
	vertical-align: baseline; 
	*vertical-align: middle; 
	}

textarea { 
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}


/*
* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
*/
button, input { line-height: normal; }

/*
* 1. Display hand cursor for clickable form elements
* 2. Allow styling of clickable form elements in iOS
* 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
*/
button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
	cursor: pointer; 
	-webkit-appearance: button; 
	*overflow: visible; 
	}
	
/* 
* Opera bug on cursor. Remember define :hover 

input[type="button"], input[type="reset"], input[type="submit"]
*/

	
/*
* Re-set default cursor for disabled elements

button[disabled], 
input[disabled] { cursor: default; }
*/	

/*
* Consistent box sizing and appearance
*/
input[type="checkbox"], 
input[type="radio"] { 
	box-sizing: border-box; 
	padding: 0; 
	*width: 13px; 
	*height: 13px; 
	}
	
input[type="search"] { 
	-webkit-appearance: textfield; 
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box; 
	}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }


/*
* Remove inner padding and border in FF3/4: h5bp.com/l
*/
button::-moz-focus-inner, 
input::-moz-focus-inner { border: 0; padding: 0; }


/* Colors for form validity 
input:valid, 
textarea:valid { background-color: #ddf0dd;}
input:invalid, 
textarea:invalid { background-color: #f0dddd; }
*/

/* Utilities validation correcto(accepted), aviso(notice) and error
-------------------------------------------------------------- */
.error,
.notice,
.accepted    { 
	border:1px solid;
	line-height: normal; 
	margin-bottom:12px; /*baseline adjust*/
	padding:7px 10px;
}

.error       { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4;}
.notice      { background:#FFF6BF; color:#514721; border-color:#FFD324;}
.accepted    { background:#E6EFC2; color:#264409; border-color:#C6D880;}

.error a     { color:#8a1f11;}
.notice a    { color:#514721;}
.accepted a  { color:#264409;}

