/**
 * RETICULAS CSSFRAMEWORK - reset.css
 *
 * @description     Removes default styling tags of HTML
 *                  Based on Eric Meyer's work and Nicolas gallaghe:
 *                  http://meyerweb.com/eric/tools/css/reset/
 *                  http://necolas.github.com/normalize.css/
 *
 * @version         1.0
 *
 * @License 		MIT License
 *
 * @link            http://reticulas.com
 * @info            http://vidagrafica.com - http://sond3.com
 *
 * =======================================================================
 *
 * Copyright (c) 2012, Segundo Fdez (@vidagrafica) - hello@reticulas.com
 * http://reticulas.com | http://vidagrafica.com | http://sond3.com

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
*/

/* 1. RESET */

/* 1.1 Root element
----------------------------------------------------------------------------- */
html,

/* 1.2 Sections - [ test on reset.html ]
----------------------------------------------------------------------------- */
body,
section, nav, article, aside,
h1, h2, h3, h4, h5, h6,
hgroup, header,
footer, address,

/* 1.3 Grouping content
----------------------------------------------------------------------------- */
p, pre,
blockquote,
ol, ul, li,
dl, dt, dd,
figure, figcaption,
div,

/* 1.4 Text-level semantics
----------------------------------------------------------------------------- */
a,
em, strong,
small,s,
cite, q, dfn, abbr,
time, code, var, samp, kbd,
sub, sup,
i, b, u,
mark, ruby, span,

/* 1.5  Edits
----------------------------------------------------------------------------- */
ins, del,

/* 1.6 Embedded content
----------------------------------------------------------------------------- */
img,
iframe,object,
video, audio,
canvas,

/* 1.7 Tabular data
----------------------------------------------------------------------------- */
table, caption, tbody, thead, tfoot, tr, td, th,

/* 1.8 Forms
----------------------------------------------------------------------------- */
form, fieldset, legend, label, output,

/* 1.9 Interactive elements
----------------------------------------------------------------------------- */
details, summary, menu,

/* OBSOLETE FEATURES
----------------------------------------------------------------------------- */
applet {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*
	outline:0;
	background:transparent;
	*/
	}

/* HTML5 DISPLAY-ROLE RESET FOR OLDER BROWSERS */

/* 1.2 Sections
----------------------------------------------------------------------------- */
section, nav, article,
aside, hgroup, header, footer,

/* 1.3 Grouping content
----------------------------------------------------------------------------- */
figure, figcaption,

/* 1.9 Interactive elements
----------------------------------------------------------------------------- */
details, menu		{ display: block;}

ol, ul				{ list-style: none;}
blockquote, q 		{ quotes: none;}

blockquote:before,
blockquote:after,
q:before, q:after 	{ content: ''; content: none;}

table				{ border-collapse: collapse; border-spacing: 0;}
