/**
 * RETICULAS CSSFRAMEWORK - utilities.less
 *
 * @description     Extend base.css with some utilities
 *
 * @version         1.0
 *
 * @License 		MIT License
 *
 * @link            http://reticulas.com
 * @info            http://vidagrafica.com - http://sond3.com
 *
 * =======================================================================
 *
 * Copyright (c) 2012, Segundo Fdez (@vidagrafica) - hello@reticulas.com
 * http://reticulas.com | http://vidagrafica.com | http://sond3.com

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
   THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
   DEALINGS IN THE SOFTWARE.
*/

/* 3. UTILITIES */

/* 3.1 Font size
----------------------------------------------------------------------------- */
.mini,.medium,.large,
.big,.enormous	{ font-weight: normal; position: relative;}

.mini			{ font-size: 0.625em;/*10px*/ top: 8px; line-height: 1.100em; margin-bottom: 11px;}
.medium			{ font-size: 0.813em;/*13px*/ top: 2px; line-height:1.695em; margin-bottom:22px;}
.large			{ font-size: 1.375em;/*22px*/ top: 21px; line-height: .9997em; margin-bottom: 44px;}
.big			{ font-size: 2.250em;/*36px*/ top: 28px; line-height: 1.222em; margin-bottom: 44px;}
.enormous		{ font-size: 3.875em;/*62px*/ top: 10px; line-height: 1.0644em; margin-bottom:44px;}

/* 3.2 Colors: Grey scale
----------------------------------------------------------------------------- */
.white  		{ color:#FFF;}
.lightgrey		{ color:#CCC;}
.mediumgrey		{ color:#999;}
.darkgrey		{ color:#666;}
.almostblack	{ color:#333;}
.black			{ color:#000;}

/* Background colors. Gray scale
----------------------------------------------------------------------------- */
.backwhite       { background-color:#FFF;}
.backlightgrey1  { background-color:#F5F5F5;}
.backlightgrey2  { background-color:#CCC;}
.backmediumgrey  { background-color:#999;}
.backdarkgrey    { background-color:#666;}
.backalmostblack { background-color:#333;}
.backblack       { background-color:#000;}

/* 3.3 Text align
----------------------------------------------------------------------------- */
.textalignr 	{ text-align:right;}
.textalignl 	{ text-align:left;}
.textalignj 	{ text-align:justify;}
.textalignc 	{ text-align:center;}

/* 3.4 Notices
----------------------------------------------------------------------------- */
.emphasized,
.correct,
.erased 		{ 
	margin-bottom:12px; /*baseline adjust*/
	padding:7px 10px;
} 
.emphasized 	{ background:#f7f716; color:#5b5b0a;}
.correct 		{ background:#75ea8e; color:#0e6339;}
.erased  		{ background:#d31313; color:#fce5e5;}


/* 3.5 Float elements
----------------------------------------------------------------------------- */
.floatr 		{ float:right;}
.floatl 		{ float:left;}

/* 3.6 Clear - clearfix
----------------------------------------------------------------------------- */
.clear  		{ clear:both;}

// clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
	//*zoom:1;
}

/* 3.7 Common
----------------------------------------------------------------------------- */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hide 			{ display: none !important; visibility: hidden; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible 		{ visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhide { 
	border: 0; 
	clip: rect(0, 0, 0,0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
	}

/* replace text for images - remember to specify height and width */
.imageback { 
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	font-size:0px !important;
	margin:0;
	padding:0;
	border:0;
	overflow:hidden;
	text-align: left; 
	text-indent: -9999px;
	direction: ltr;
	}
	.imageback a {  
		width:100%;
		height:100%;
		display:block;
		text-decoration:none;
		}

/* Center a div */
div.boxcenter    { margin:0 auto !important; float:none;}

/* See baseline */
.baseline { background-image:url(../reticulas/core/baseline-22.gif); background-position:0 -5px;}


/* 3.8 Decoration
----------------------------------------------------------------------------- */
/* 
   Round equal
   .round(10);
   pass as a number (radius) 
*/
.round(@radius:10px) {
	-webkit-border-radius: @radius*1px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
		-moz-border-radius: @radius*1px; /* FF1-3.6 */
			border-radius: @radius*1px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

/* 
   Round corners
   .round-corners(5,5,5,5);
   pass as a number (top-lef, top-right, bottom-right, bottom-left) 
*/
.round-corners(@tl:5px,@tr:5px,@br:0px,@bl:0px) {
	-webkit-border-top-left-radius: @tl*1px;
	-webkit-border-top-right-radius: @tr*1px;
	-webkit-border-bottom-right-radius: @br*1px;
	-webkit-border-bottom-left-radius: @bl*1px;
		-moz-border-radius-topleft: @tl*1px;
		-moz-border-radius-topright: @tr*1px;
		-moz-border-radius-bottomright: @br*1px;
		-moz-border-radius-bottomleft: @bl*1px;
			border-top-left-radius: @tl*1px;
			border-top-right-radius: @tr*1px;
			border-bottom-right-radius: @br*1px;
			border-bottom-left-radius: @bl*1px;
}

/* 
   Gradient
   .gradient(#888, #CCC);
   pass as #HEX number( #bottom-color, #top-color) 
*/
.gradient(@bcolor:#999, @tcolor:#CCC) {
  background-color: @bcolor;
  background: -webkit-gradient(linear, left top, left bottom, from(@bcolor), to(@tcolor)); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(bottom, @bcolor, @tcolor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background:    -moz-linear-gradient(bottom, @bcolor, @tcolor); /* FF3.6 */
  background:     -ms-linear-gradient(bottom, @bcolor, @tcolor); /* IE10 */
  background:      -o-linear-gradient(bottom, @bcolor, @tcolor); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, @bcolor, @tcolor);
}

/* 
   Shadow 	
  .shadow( 0,0,5,5,#999);
   pass as a number and #HEX number( @shadow-x, @shadow-y, @gaussianx, @gaussiany, #shadow-color) 
*/
.shadow(@sx:0px, @sy:0px, @gx:5px, @gy:4px, @scolor:#B2D4F4) {
  -webkit-box-shadow: @sx*1px @sy*1px @gx*1px @gy*1px @scolor; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: @sx*1px @sy*1px @gx*1px @gy*1px @scolor; /* FF3.5 - 3.6 */
          box-shadow: @sx*1px @sy*1px @gx*1px @gy*1px @scolor; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

/* 3.9 User interface
----------------------------------------------------------------------------- */
/* Tabs variables*/
@tabcolor: #505959;
@tabcolor-a: #101919;

@tabbk: #D0D9D9;
@tabbk-a: #B0B9B9;

/* Tabs */
.tabs {
	list-style-type:none;
	margin:0;
	border-bottom: 1px solid #999;
	
	>li {
		float:left;
		margin-bottom:-1px !important;
		margin-right:3px;
		>a {
			display:block;
			margin-top:0px;
			padding:7px 15px 3px;
			color: @tabcolor;
			.round-corners(8,8,0,0);
		}
		>a:hover ,
		a:focus {
			background-color: @tabbk;
			text-decoration:none;
			color: @tabcolor-a;
		}
	}
	>li.active {
		a {
			margin-top:-1px;
			border: 1px solid #999;
			border-bottom: 1px solid #FFF;
			background-color:transparent;
			color: @tabcolor-a;
		
			&:hover{
				color:@tabcolor;
				background-color:transparent;
			}
		}
	}
	
	// Tab display on top
	&.tab-top{
		border-bottom:none;
		border-top: 1px solid #999;
		>li{
			>a{
				.round-corners(0,0,8,8);
				margin-top:0px;
			}
			&.active a {
				margin-top:-1px;
				border: 1px solid #999;
				border-top: 1px solid #FFF;
				background-color:transparent;
			}
		}
	}
	// Tab display on right
	&.tab-right{
		border-bottom:none;
		border-top:none;
		border-right: 1px solid #999;
		display:inline-block;
		>li{
			float:none;
			margin-right:0;
			margin-bottom:3px !important;
			text-align:right;
			
			>a{
				.round-corners(8,0,0,8);
				margin-top:0px;
			}
			&.active a {
				margin-right:-1px;
				border: 1px solid #999;
				border-right: 1px solid #FFF;
				background-color:transparent;
			}
		}
	}
	
	// Tab display on left
	&.tab-left{
		border-top:none;
		border-right:none;
		border-bottom:none;
		border-left: 1px solid #999;
		display:inline-block;
		>li{
			float:none;
			margin-right:0;
			margin-bottom:3px !important;
			
			>a{
				.round-corners(0,8,8,0);
				margin-top:0px;
			}
			&.active a {
				margin-left:-1px;
				border: 1px solid #999;
				border-left: 1px solid #FFF;
				background-color:transparent;
			}
		}
	}
	
	// Tab Menu
	&.menu{
		border:none;
		
		// Tab Menu Pill
		&.pill {
			>li {
				margin:0 1px 0 0;
				a {
					.round(0);
				}
				&.active a {
					margin:0;
					background-color:@tabbk-a;
				}
				
				&:first-child {
					a {
						.round-corners(12,0,0,12);
					}
				}
				
				&:last-child{
					a {
						.round-corners(0,12,12,0);
					}
				}
			}
		}

		>li{
			display:inline;
			margin-right:5px;
			
			>a{
				.round(10);
				margin-top:0px;
				background-color:@tabbk;
				
				
				&:hover{
					background-color: @tabbk-a;
				}
			}
			
			&.active {
				a {
					margin-left:-1px;
					border: none;
					background-color: @tabbk-a;
					
					&:hover{
						background-color: @tabcolor;
						color:@tabbk;
					}
				}
			}
		}
	}
	
	// Tab display as block
	&.stacked{ 
		border: none;
		clear:both;
		>li{
			float:none;
			>a {
				margin:0;
				padding:7px;
				border: 1px solid #999;
				.round-corners(0,0,0,0);
			}
		}
		>li.active {
			a {
				border-right: 1px solid #999;
				border-left: 1px solid #999;
				background-color: @tabbk;
				
				&:hover{
					background-color: @tabbk-a;
					color:@tabcolor-a;
				} 
			}
		}
	}
	.clearfix;
}

/* Buttom */
.btn {
	display: inline-block;
	padding: 5px 10px 2px 10px;
	text-align: center;
	//text-shadow: 0 1px 1px rgba(255,255,255,.75);
	vertical-align: middle;
	.gradient();
	.round(5);
	color:@tabcolor;
	
	&:hover {
		text-decoration:none;
		.gradient(#666);
	}
}


/* Breadcrumb */
.breadcrumb { /* ul */
	list-style: none;
	margin: 0;
	margin-bottom:14px;
	overflow: hidden;
	font-size:75%;
	
	li {
		float: left;
		margin: 0 !important;
		a {
			display: block;
			padding: 6px 0 3px 45px;
			position: relative; 
			background-color: @tabbk;
			&:after{
				position: absolute;
				top: 50%;
				z-index: 2;
				width: 0;
				content: " "; 
				display: block; 
				left: 100%;
				height: 0;
				margin-top: -50px; 
				border-bottom: 50px solid transparent;
				border-left: 30px solid @tabbk;
				border-top: 50px solid transparent;
			}
			&:before{
				content: " "; 
				display: block; 
				height: 0;
				left: 100%;
				margin-top: -50px; 
				margin-left: 3px;
				position: absolute;
				top: 50%;
				z-index: 1;
				border-bottom: 50px solid transparent;
				border-left: 30px solid #FFF;
				border-top: 50px solid transparent;
			}
			&:hover {
				background-color: @tabbk-a;
				text-decoration:none;
				color:@tabcolor-a;
				/*
				-webkit-transition:all .0s linear;
				-moz-transition:all .0s linear;
				-o-transition:all .0s linear;
				transition:all .0s linear;
				*/
			}
			&:hover:after {
				border-left-color: @tabbk-a !important;
			}
		}
		&:first-child a{
			padding-left:10px;
		}
	}
}


